
&pinctrl {
	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 19)>,
					<NRF_PSEL(SPIM_MOSI, 0, 18)>,
					<NRF_PSEL(SPIM_MISO, 0, 17)>;
		};
	};

	spi1_sleep: spi1_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 19)>,
					<NRF_PSEL(SPIM_MOSI, 0, 18)>,
					<NRF_PSEL(SPIM_MISO, 0, 17)>;
			low-power-enable;
		};
	};
};

&spi1 {
	compatible = "nordic,nrf-spim";
	clock-frequency = <0x80000000>;
	status = "okay";
	//sck-pin = <19>;
	//mosi-pin = <18>;
	//miso-pin = <17>;
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
};

&uart1 {
	status = "disabled";
};
&pwm0 { 
	status = "disabled";
};