&pinctrl {
	spi2_default: spi2_default {
		group1 {
			psels = <NRF_PSEL(SPIS_SCK, 0, 27)>,
					<NRF_PSEL(SPIS_MOSI, 0, 31)>,
					<NRF_PSEL(SPIS_MISO, 0, 29)>,
					<NRF_PSEL(SPIS_CSN, 0, 28)>;
		};
	};

	spi2_sleep: spi2_sleep {
		group1 {
			psels = <NRF_PSEL(SPIS_SCK, 0, 27)>,
					<NRF_PSEL(SPIS_MOSI, 0, 31)>,
					<NRF_PSEL(SPIS_MISO, 0, 29)>,
					<NRF_PSEL(SPIS_CSN, 0, 28)>;
			low-power-enable;
		};
	};
};

my_spi_slave: &spi1 {
	compatible = "nordic,nrf-spis";
	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	//sck-pin = <27>;
	//mosi-pin = <31>;
	//miso-pin = <29>;
	//csn-pin = <28>;
	def-char = <0x00>;
};
